*{
    margin: 0;
    padding: 0;
    text-align: center;

}

h4{
    background-color: #081b31;
    color: white;
    height: 5rem;
    font-size: x-large;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    justify-content: center;
    line-height: 5rem;

}

.container{
    margin: 30px;
    padding: 10px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid transparent;
}
img:hover{
    cursor: pointer;
    opacity: 0.8;
    border: 2px solid black;
}


.images{
    height: 200px;
    width: 200px;
   
  
} 

.scoreCon{
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: x-large;

}
#user , #comp{
    padding: 9px;
}


.msg{
    background-color: #081b31;
    display: inline-block;
    padding: 10px;
    height: 20px;
    color: white;
    font-size: x-large;
    margin: 40px;
    border-radius: 4px;
}

/*  Mobile Responsive Code */


@media (max-width: 768px) {

    *{
        box-sizing: border-box;
    }

    h4{
        font-size: 1.2rem;
        height: auto;
        padding: 15px 0;
        line-height: normal;
    }

    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;       
        margin: 20px 0;
        gap: 25px;
    }

    .images{
        height: auto;      
        width: auto;
    }

    img{
        width: 35vw;        
        height: 35vw;
        max-width: 140px;
        max-height: 140px;
    }

    .scoreCon{
        flex-direction: row;  
        gap: 30px;
        font-size: 1.1rem;
        margin-top: 10px;
    }

    .msg{
        height: auto;        
        font-size: 1rem;
        margin: 20px;
        padding: 10px 15px;
    }
}